<Configuration>

	<ModOrganizer>C:\Path\To\ModOrganizer.exe</ModOrganizer>
    <Mantella>C:\Path\To\Mantella.exe</Mantella>
	
	<LLM>C:\Path\To\LLM.exe</LLM>
	<Herika>C:\Path\To\Herika.exe</Herika>
	<xVASynth>C:\Path\To\Server.exe</xVASynth>

	<UseLLM>false</UseLLM>
	<UseHerika>false</UseHerika>
	<UsexVASynth>false</UsexVASynth>
	
</Configuration>